<html>

<head>
<style>
 #body{
  text-align:center;
  font-size:20px
  
 }
  button {
        color:rgb(33, 209, 209);
    
        font-size:50px;
        border-radius: none;
        background:none;
      box-shadow:0% 0% 0% 0%;}
  h1{
    color:green;
  } 
#email{
  font-size:20px;
}
#sub{
  font-size:30px;
}
</style>
<title>mylocation</title>
</head>

<body>
<div id='body'>
<h1>Phone number detail:</h1><br>
<ul>
<ol>Phone number:{{phone}}</ol>
<ol>Operator name:{{network}}</ol>
<ol>Location country:{{location}}</ol>

</ul>
<p>
<button ><a  style="text-decoration:none;"href='mylocation' target=''>Show me location</a></button>
</p>
<div>
<form method='post' action='thanks'>
  {% csrf_token %}
<Label>Comments:</label>
<p>Email:
<input id='email' type='email' name='email'/>

</p>
<textarea name='text' rows='5' cols='60'> leave a comment</textarea>
<p>
<input id='sub' type='submit' value='send'/> 
</p>
</form>
</div>
</body>
</html>